<?xml version="1.0"?>
<robot name="Robot" xmlns:xacro="http://ros.org/wiki/xacro">
    <ros2_control name="robotsystem" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
        <joint name="manipulator_base_shoulder_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>
        <joint name="manipulator_shoulder_link_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>
        <joint name="manipulator_link_elbow_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>
        <joint name="manipulator_elbow_wrist_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>
        <joint name="manipulator_wrist_gripper_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>
    </ros2_control>
</robot>