<?xml version="1.0"?>
<robot name="Robot" xmlns:xacro="http://ros.org/wiki/xacro">
    <transmission name="transmission_1">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="manipulator_base_shoulder_joint">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="Base_Shoulder_actuator">
            <mechanicalReduction>1.0</mechanicalReduction>
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </actuator>
    </transmission>
    <transmission name="transmission_2">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="manipulator_shoulder_link_joint">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="shoulder_link_actuator">
            <mechanicalReduction>1.0</mechanicalReduction>
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </actuator>
    </transmission>
    <transmission name="transmission_3">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="manipulator_link_elbow_joint">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="link_elbow_actuator">
            <mechanicalReduction>1.0</mechanicalReduction>
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </actuator>
    </transmission>
    <transmission name="transmission_4">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="manipulator_elbow_wrist_joint">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="elbow_wrist_actuator">
            <mechanicalReduction>1.0</mechanicalReduction>
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </actuator>
    </transmission>
    <transmission name="transmission_5">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="manipulator_wrist_gripper_joint">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="wrist_gripper_actuator">
            <mechanicalReduction>1.0</mechanicalReduction>
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </actuator>
    </transmission>
    
</robot>