<?xml version="1.0"?>
<robot name="diffbot" xmlns:xacro="http://ros.org/wiki/xacro">
    <gazebo>
        <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>/home/hars22/rosws/src/diffdrive_bot/config/diffdrive_bot_controller.yaml</parameters>
        </plugin>
    </gazebo>
    
</robot>